.Search{
    
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.overall{
    background-Image:linear-gradient(#7bb7f8ee, #ffffff);
}

.myLink{
    text-align: right;
    position: relative;
    top: 40px;
    right: 50px;
}
.text{
    color:gray;
    text-align: center;
    font-weight: bold;
}

.myLogo{
    text-align: center;
    padding-top: 150px;
}

